################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Project/IntentMyDataKart/.vs
/src/Project/IntentMyDataKart/bin
/src/Project/IntentMyDataKart/obj
/src/Project/IntentMyDataKart/.vscode