<div class="container-fluid">

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="d-flex align-items-start">
                        <div class="flex-grow-1">
                            <h5 class="card-title mb-4">Overview</h5>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="dropdown">
                                <a class="dropdown-toggle text-reset" href="#" data-bs-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                    <span class="fw-semibold">Sort By:</span>
                                    <span class="text-muted">Yearly<i class="mdi mdi-chevron-down ms-1"></i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Yearly</a>
                                    <a class="dropdown-item" href="#">Monthly</a>
                                    <a class="dropdown-item" href="#">Weekly</a>
                                    <a class="dropdown-item" href="#">Today</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div id="overview" data-colors='["#e6ecf9", "#e6ecf9", "#e6ecf9","#e6ecf9", "#e6ecf9", "#e6ecf9","#e6ecf9","#e6ecf9","#e6ecf9","#1f58c7","#1f58c7", "#1f58c7"]' class="apex-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="avatar">
                                        <div class="avatar-title rounded bg-primary-subtle ">
                                            <i class="bx bx-user font-size-24 mb-0 text-primary"></i>
                                        </div>
                                    </div>

                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0 font-size-15">Total Users</h6>
                                    </div>

                                    <div class="flex-shrink-0">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#"
                                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                <i class="bx bx-dots-horizontal text-muted font-size-22"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Yearly</a>
                                                <a class="dropdown-item" href="#">Monthly</a>
                                                <a class="dropdown-item" href="#">Weekly</a>
                                                <a class="dropdown-item" href="#">Today</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <h4 class="mt-4 pt-1 mb-0 font-size-22">$34,123.20 <span class="text-success fw-medium font-size-13 align-middle"> <i class="mdi mdi-arrow-up"></i> 8.34% </span> </h4>
                                    <div class="d-flex mt-1 align-items-end overflow-hidden">
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0 text-truncate">Total Sales World Wide</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div id="mini-1" data-colors='["#1f58c7"]' class="apex-charts"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="avatar">
                                        <div class="avatar-title rounded bg-primary-subtle ">
                                            <i class="bx bx-target-lock font-size-24 mb-0 text-primary"></i>
                                        </div>
                                    </div>

                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0 font-size-15">Total Target</h6>
                                    </div>

                                    <div class="flex-shrink-0">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#"
                                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                <i class="bx bx-dots-horizontal text-muted font-size-22"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Yearly</a>
                                                <a class="dropdown-item" href="#">Monthly</a>
                                                <a class="dropdown-item" href="#">Weekly</a>
                                                <a class="dropdown-item" href="#">Today</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <h4 class="mt-4 pt-1 mb-0 font-size-22">63,234.20 <span class="text-danger fw-medium font-size-13 align-middle"> <i class="mdi mdi-arrow-down"></i> 3.68% </span> </h4>
                                    <div class="d-flex mt-1 align-items-end overflow-hidden">
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0 text-truncate">Total Orders World Wide</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div id="mini-2" data-colors='["#1f58c7"]' class="apex-charts"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="avatar">
                                        <div class="avatar-title rounded bg-primary-subtle ">
                                            <i class="bx bxs-cloud-download font-size-24 mb-0 text-primary"></i>
                                        </div>
                                    </div>

                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0 font-size-15">Download Data</h6>
                                    </div>

                                    <div class="flex-shrink-0">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#"
                                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                <i class="bx bx-dots-horizontal text-muted font-size-22"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Yearly</a>
                                                <a class="dropdown-item" href="#">Monthly</a>
                                                <a class="dropdown-item" href="#">Weekly</a>
                                                <a class="dropdown-item" href="#">Today</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <h4 class="mt-4 pt-1 mb-0 font-size-22">425,34.45 <span class="text-danger fw-medium font-size-13 align-middle"> <i class="mdi mdi-arrow-down"></i> 2.64% </span> </h4>
                                    <div class="d-flex mt-1 align-items-end overflow-hidden">
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0 text-truncate">Total Visitor World Wide</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div id="mini-3" data-colors='["#1f58c7"]' class="apex-charts"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="d-flex align-items-center">
                                    <div class="avatar">
                                        <div class="avatar-title rounded bg-primary-subtle ">
                                            <i class="bx bx-data font-size-24 mb-0 text-primary"></i>
                                        </div>
                                    </div>

                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0 font-size-15">Fresh Data</h6>
                                    </div>

                                    <div class="flex-shrink-0">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#"
                                                   data-bs-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                <i class="bx bx-dots-horizontal text-muted font-size-22"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Yearly</a>
                                                <a class="dropdown-item" href="#">Monthly</a>
                                                <a class="dropdown-item" href="#">Weekly</a>
                                                <a class="dropdown-item" href="#">Today</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div>
                                    <h4 class="mt-4 pt-1 mb-0 font-size-22">6,482.46 <span class="text-success fw-medium font-size-13 align-middle"> <i class="mdi mdi-arrow-down"></i> 5.79% </span> </h4>
                                    <div class="d-flex mt-1 align-items-end overflow-hidden">
                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0 text-truncate">Total Expense World Wide</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div id="mini-4" data-colors='["#1f58c7"]' class="apex-charts"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xxl-8">
            <div class="row">
                                   
                <div class="col-xl-7">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-start mb-3">
                                <div class="flex-grow-1">
                                    <h5 class="card-title">Total Data Download</h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle text-reset" href="#" data-bs-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                            <span class="fw-semibold">Year:</span> <span class="text-muted">
                                            2021<i class="mdi mdi-chevron-down ms-1"></i>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#">2019</a>
                                        <a class="dropdown-item" href="#">2020</a>
                                        <a class="dropdown-item" href="#">2021</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-xxl-12">
                                <div class="py-3">
                                    <div id="world-map-markers" style="height: 300px"></div>
                                </div>
                            </div>

                            <div class="col-xl-12">
                                <div class="table-responsive">
                                    <table class="table table-centered align-middle table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th>Countries</th>
                                                <th>State</th>
                                                <th>Download Data</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-grow-1 ms-3">
                                                            <p class="mb-0 text-truncate">India</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>Mumbai</td>
                                                <td>1001</td>
                                            </tr>

                    
                                                                   
                    
                                                                  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start mb-2">
                            <div class="flex-grow-1">
                                <h5 class="card-title">Regular Customers</h5>
                            </div>
                            <div class="flex-shrink-0">
                                <div class="dropdown">
                                    <a class="dropdown-toggle text-muted" href="#"
                                           data-bs-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                        <i class="bx bx-dots-horizontal font-size-22"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#">Yearly</a>
                                        <a class="dropdown-item" href="#">Monthly</a>
                                        <a class="dropdown-item" href="#">Weekly</a>
                                        <a class="dropdown-item" href="#">Today</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mx-n4" data-simplebar style="max-height: 421px;">
                            <div class="border-bottom loyal-customers-box pt-2">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/users/avatar-4.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                    <div class="flex-grow-1 ms-3 overflow-hidden">
                                        <h5 class="font-size-15 mb-1 text-truncate">Michelle Bernard</h5>
                                        <p class="text-muted text-truncate mb-0">Michelle@gmail.com</p>
                                    </div>
                                                           
                                </div>
                            </div>
            
                            <div class="border-bottom loyal-customers-box">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/users/avatar-5.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                    <div class="flex-grow-1 ms-3 overflow-hidden">
                                        <h5 class="font-size-15 mb-1 text-truncate">David Grajeda</h5>
                                        <p class="text-muted text-truncate mb-0">David@gmail.com</p>
                                    </div>
                                                           
                                </div>
                            </div>
            
                            <div class="border-bottom loyal-customers-box">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/users/avatar-6.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                    <div class="flex-grow-1 ms-3 overflow-hidden">
                                        <h5 class="font-size-15 mb-1 text-truncate">Charles Roman</h5>
                                        <p class="text-muted text-truncate mb-0">Charles@gmail.com</p>
                                    </div>
                                                           
                                </div>
                            </div>
            
                            <div class="border-bottom loyal-customers-box">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/users/avatar-7.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                    <div class="flex-grow-1 ms-3 overflow-hidden">
                                        <h5 class="font-size-15 mb-1 text-truncate">David Reynolds</h5>
                                        <p class="text-muted text-truncate mb-0">David@gmail.com</p>
                                    </div>
                                                           
                                </div>
                            </div>
            
                            <div class="border-bottom loyal-customers-box">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/users/avatar-8.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                    <div class="flex-grow-1 ms-3 overflow-hidden">
                                        <h5 class="font-size-15 mb-1 text-truncate">Marion Munroe</h5>
                                        <p class="text-muted text-truncate mb-0">Marion@gmail.com</p>
                                    </div>
                                                            
                                </div>
                            </div>
            
                            <div class="py-3 loyal-customers-box">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/users/avatar-5.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                    <div class="flex-grow-1 ms-3 overflow-hidden">
                                        <h5 class="font-size-15 mb-1 text-truncate">Christina Emerson</h5>
                                        <p class="text-muted text-truncate mb-0">Christina@gmail.com</p>
                                    </div>
                                                            
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
    </div>

                            
</div>
<!-- end row -->

                     

</div>